<style type="text/css">
.titulo{
	text-align: center;
	margin-top: 10px;
}

.btnAdicionar{
	margin-top: 20px;
}

.formProfissional{
	margin-left: 5%;
}

.nomePro{
	margin-bottom: 20px;
}

</style>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12 titulo">
			<h3>Agenda do Profissional</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12"></div>
			<div ng-include="'views/linksCabeleireiros.html'"></div>
		</div>
	</div>
	<div class="row" ng-controller="AgendaProfissionaisCtrl">
		<div class="col-md-4 formProfissional">
			<!-- <form name="formAgendaPro">
				<label>Data</label>
				<input class="form-control" type="date" name="dia" ng-model="agenda.dia" required>
				<label>Hora</label>
				<input class="form-control" type="time" name="hora" ng-model="agenda.hora" required>
			<button class="btn btn-block btn-primary btnAdicionar" ng-disabled="formAgendaPro.$invalid" ng-click="setAgenda(agenda)">Adicionar</button>
			</form> -->
		</div>
		<div class="col-md-4">
			<div class="nomePro">
				<b>Profissional:</b> {{ nome }}
			</div>
		</div>
		<div class="col-md-4"></div>
	</div>
	
</div>