<style type="text/css">
.links{
	margin-bottom: 20px;
	text-align: center;
}
.linkMenu{
	margin-left: 1%;
	margin-right: 1%;
}
.linkUnidade{
	margin-left: 1%;
	margin-right: 1%;
}
.linkProfissional{
	margin-left: 1%;
	margin-right: 1%;
}
.linkCliente{
	margin-left: 1%;
	margin-right: 1%;
}

</style>
<div class="row">
	<div class="col-md-12 links">
	  <a class="linkMenu" href="#/inicialCabeleireiros">Cadastro de Endereço</a>
	  <a class="linkUnidade" href="#/unidadeCabeleireiros">Unidades</a>
	  <a class="linkProfissional" href="#/profissionais">Profissionais</a>
	  <a class="linkCliente" href="#/clientes">Clientes</a>
	  <a class="linkAgenda" href="#/agenda">Agenda</a>

	  <!--
	  <a href="#/" ng-click="sair()">sair</a>-->
	</div>
</div>