<style type="text/css">
.titulo{
	text-align: center;
	margin-top: 10px;
}

.btnAdicionar{
	margin-top: 20px;
}

.msgSuccess{
	text-align: center;
	color: #0000e6;
	margin-top: 10px;
}

</style>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12 titulo">
			<h3>Adicionar Mesas</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12"></div>
			<div ng-include="'views/linksRestaurantes.html'"></div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4" ng-controller="MesasCtrl">

			<form>
				<!-- <label>Estabelecimento</label> -->

				<!-- <select class="form-control" name="estabelecimento" ng-model="mesa.idestabelecimento" required="required" ng-change="getUnidade(mesa.idestabelecimento)" 
				 ng-options="c as c.nome for c in cia track by c.idestabelecimento">
					<option value="">Selecione estabelecimento</option>
					<option ng-repeat="c in cia" value="{{ c.idestabelecimento }}" required>{{ c.nome }}
					</option>
				</select> -->

				<label>Unidade</label>
				<select class="form-control" name="unidadeMesa" ng-model="mesa.unidade" required>
					<option value="">Selecione unidade</option>
					<option ng-repeat="u in unidades" value="{{ u.idunidade }}" required>{{ u.unidade }}
					</option>
				</select>
				<label>Mesa</label>
				<input class="form-control" type="text" name="numeroMesa" ng-model="mesa.numero" placeholder="Mesa 1">

				<button class="btn btn-block btn-primary btnAdicionar" ng-click="adicionar(mesa)">Adicionar</button>
			</form>
				<div class="msgSuccess">
					{{msgSuccess}}
				</div>
			</div>
		
		</div>
		<div class="col-md-4"></div>
	</div>
	
</div>