<style type="text/css">
.titulo{
	text-align: center;
	margin-top: 10px;
}

.btnAdicionar{
	margin-top: 20px;
}

.msgSucesso{
	text-align: center;
	color: #0000e6;
	margin-top: 10px;
}

.formProfissional{
	margin-left: 5%;
}

</style>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12 titulo">
			<h3>Adicionar Profissional</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12"></div>
			<div ng-include="'views/linksCabeleireiros.html'"></div>
		</div>
	</div>
	<div class="row" ng-controller="ProfissionaisCtrl">
		<div class="col-md-4 formProfissional">
			<div class="msgSucesso">
				{{msgSuccess}}
			</div>

			<form name="formProfissional">
				<label>Nome</label>
				<input class="form-control" type="text" name="nome" ng-model="pro.nome" required>
				<label>Função</label>
				<select class="form-control" name="funcao" ng-model="pro.funcao" required>
					<option value="">Selecione...</option>
					<option value="Cabeleireiro">Cabeleireiro</option>
					<option value="Cabeleireira">Cabeleireira</option>
					<option value="Cabeleireiro e maquiador">Cabeleireiro e maquiador</option>
					<option value="Cabeleireira e maquiadora">Cabeleireira e maquiadora</option>
					<option value="Escovista">Escovista</option>
					<option value="Depiladora">Depiladora</option>
					<option value="Maquiador">Maquiador</option>
					<option value="Maquiadora">Maquiadora</option>
					<option value="Manicure">Manicure</option>
					<option value="Manicure e depiladora">Manicure e depiladora</option>
					<option value="Manicure, podoga e depiladora">Manicure, podoga e depiladora</option>
					<option value="Massoterapeuta e depiladora">Massoterapeuta e depiladora</option>
				</select>
				<label>Unidade</label>
				<select class="form-control" name="unidade" ng-model="pro.unidade" required>
					<option value="">Selecione...</option>
					<option ng-repeat="u in unidades" value="{{ u.idunidade }}" required>{{ u.unidade }}
					</option>
				</select>
			<button class="btn btn-block btn-primary btnAdicionar" ng-click="setPro(pro)">Adicionar</button>
			</form>

		</div>
		<div class="col-md-4">
			<div class="exibeUnidades">
				<table width="400">
					<thead>
						<tr>
							<td width="100"><b>Profissionais</b></td>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="pro in profissionais">
							<td width="100"><a href="#agendaProfissionais/{{pro.idprofissional}}">{{pro.nome}}</a></td>
							<td width="160">{{pro.funcao}}</td>
							<td width="160">{{pro.unidade}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="col-md-4"></div>
	</div>
	
</div>