<style type="text/css">
.titulo{
	text-align: center;
	margin-top: 10px;
}

.btnAdicionar{
	margin-top: 20px;
}

.msgSucesso{
	text-align: center;
	color: #0000e6;
	margin-top: 10px;
}

.formUnidade{
	margin-left: 5%;
}

</style>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12 titulo">
			<h3>Adicionar Unidade</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12"></div>
			<div ng-include="'views/linksCabeleireiros.html'"></div>
		</div>
	</div>
	<div class="row" ng-controller="UnidadeCtrl">
		<div class="col-md-4 formUnidade">
			<div class="msgSucesso">
				{{msgSuccess}}
			</div>

			<form name="formUnidade">
				<label>CEP</label>
				<input class="form-control" type="text" name="cep" ng-model="unidade.cep" required>
				<!-- <label>Estabelecimento</label>
				<select class="form-control" name="estabelecimento" ng-model="unidade.estabelecimento" required>
					<option value="">Selecione seu estabelecimento</option>
					<option ng-repeat="e in estabele" value="{{ e.idestabelecimento }}" required>{{ e.nome }}
					</option>
				</select> -->
				<label>Endereço</label>
				<input class="form-control" type="text" name="enderecoUnidade" ng-model="unidade.logradouro" readonly>
				<label>Número</label>
				<input class="form-control" type="text" name="numeroUnidade" ng-model="unidade.numero" required>
				<label>Cidade</label>
				<input class="form-control" type="text" name="cidadeUnidade" ng-model="unidade.localidade" readonly>
				<label>UF</label>
				<input class="form-control" type="text" name="ufUnidade" ng-model="unidade.uf" readonly>
				<label>Nome Unidade</label>
				<input class="form-control" type="text" name="nomeUnidade" ng-model="unidade.nome" required>
				<label>Contato</label>
				<input class="form-control" type="text" name="contatoUnidade" ng-model="unidade.contato">

				<button class="btn btn-block btn-primary btnAdicionar" ng-disabled="formUnidade.$invalid" ng-click="adicionar(unidade)">Adicionar</button>
			</form>

		</div>
		<div class="col-md-4">
			<div class="exibeUnidades">
				<table width="400">
					<thead>
						<tr>
							<td width="100"><b>Unidades {{nome}}</b></td>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="u in unidades">
							<td width="160">{{u.unidade}}: {{u.endereco}}, {{u.numero}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="col-md-4"></div>
	</div>
	
</div>