<style type="text/css">
.titulo{
	text-align: center;
	margin-top: 10px;
}

.btnAdicionar{
	margin-top: 20px;
}

.msgSucesso{
	text-align: center;
	color: #0000e6;
	margin-top: 10px;
}

</style>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12 titulo">
			<h3>Adicionar Unidade</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12"></div>
			<div ng-include="'views/links.html'"></div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4" ng-controller="UnidadeCtrl">
			<div class="msgSucesso">
				{{msgSuccess}}
			</div>

			<form name="formUnidade">
				<label>CEP</label>
				<input class="form-control" type="text" name="cep" ng-model="unidade.cep" required>
				<label>Estabelecimento</label>
				<select class="form-control" name="estabelecimento" ng-model="unidade.estabelecimento" required>
					<option value="">Selecione seu estabelecimento</option>
					<option ng-repeat="e in estabele" value="{{ e.idestabelecimento }}" required>{{ e.nome }}
					</option>
				</select>
				<label>Endereço</label>
				<input class="form-control" type="text" name="enderecoUnidade" ng-model="unidade.logradouro">
				<label>Número</label>
				<input class="form-control" type="text" name="numeroUnidade" ng-model="unidade.numero" required>
				<label>Cidade</label>
				<input class="form-control" type="text" name="cidadeUnidade" ng-model="unidade.localidade">
				<label>UF</label>
				<input class="form-control" type="text" name="ufUnidade" ng-model="unidade.uf">
				<label>Nome Unidade</label>
				<input class="form-control" type="text" name="nomeUnidade" ng-model="unidade.nome" required>
				<label>Contato</label>
				<input class="form-control" type="text" name="contatoUnidade" ng-model="unidade.contato">

				<button class="btn btn-block btn-primary btnAdicionar" ng-disabled="formUnidade.$invalid" ng-click="adicionar(unidade)">Adicionar</button>
			</form>

			</div>
		</div>
		<div class="col-md-4"></div>
	</div>
	
</div>